<mat-dialog></mat-dialog>
<div class="w3-light-grey align-items-center w3-round-xlarge w3-golge-2"
style="border-top:5px solid blue;margin-top:30px;padding: 10px;">
    <h3 class="p-3">{{ title }}</h3>
    <div class="input-group m-2 p-2"> 
        <input type="text" class="form-control" id='targetSearch' [(ngModel)]="araText" (keyup)="filterItem($event)" />
        <div *ngIf="!araText" class="input-group-append">
            <div class="sftb btn btn-primary w3-golge-1">Ara</div>
        </div>
        <div *ngIf="araText" class="input-group-append">
            <div (click)="araText=''" class="btn w3-text-red w3-golge-1">X</div>
        </div>
    </div>
    <ag-grid-angular
    style="width: 500px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="data" 
    [columnDefs]="columnDefs"
    >
    </ag-grid-angular>
    </div>
    
<div *ngIf="showEkleBtn == false" class="rubberBand floatBtn bg-blue" (click)="showEkleBtn=toggle(showEkleBtn)">Ekle</div>

<div *ngIf="showEkleBtn == true" class="slimModalParent">
    <div class="slimModal p-2 m-3 w3-round-large w3-golge-2 w3-animate-right">
        <div (click)="showEkleBtn=toggle(showEkleBtn)" class="w3-float-1 btn btn-danger w3-hover-opacity">X</div>
        <add-new-form></add-new-form>
    </div>
</div>

<br><br><br><br><br><br>
<br><br><br><br><br><br>
<script>
function scOk(){
    
}


</script>